.brand-suggest {
  position: fixed;
  top: 0;
  background-color: rgb(15, 7, 56);
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  &-header {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.brand__back-button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.brand-form {
  &__label {
    display: block;
    margin-bottom: 1rem;

    &::after {
      content: '*';
      color: red;
    }
  }

  &__input {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 1rem;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid greenyellow;
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: greenyellow;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.suggest-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.suggest-popup {
  text-align: center;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 20rem);
  height: 10rem;
  width: 40rem;
  border: 1px solid yellowgreen;
  border-radius: 1rem;
  padding: 1rem;
  background-color: black;

  &__title,
  &__text {
    margin-bottom: 1rem;
  }

  &__button {
    padding: 1rem;
    border-radius: 0.6rem;
    margin: 0 auto;
    display: block;
    background-color: yellowgreen;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}