.brand-page {
  position: fixed;
  top: 0;
  background-color: hsl(237, 79%, 12%);
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #4cc9f0ff;
  }

  &__title {
    flex-grow: 1;
  }

  > .brand-page__search {
    margin: 1rem;
  }

  &__add-btn {
    padding: 0.5rem;
    width: calc(100% - 2rem);
    border-radius: 0.8rem;
    background-color: greenyellow;
    margin: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    @media (width < 769px) {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
}

.flavor {
  &-list {
    list-style: none;
    background-color: var(--list-color-bg);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      > img {
        width: 2rem;
        height: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__name {
    flex-grow: 1;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__image--add-new {
    background-color: rgb(8, 214, 26);
    border-radius: 50%;
    transition: 0.3s;
  }

  &__image--added {
    background-color: rgb(224, 8, 8);
    border-radius: 50%;
    transform: rotateZ(45deg);
    transition: 0.3s;
  }
}