.catalog {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(237, 79%, 12%);
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #4cc9f0ff;
  }

  &__back-button {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__title {
    flex-grow: 1;
  }

  &__mixer-image {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    position: relative;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__mixer-number {
    border-radius: 50%;
    border: 1px solid green;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  > .catalog__search {
    border: 1px solid black;
    margin: 1rem;
  }

  &__brand-suggest-btn {
    padding: 0.5rem;
    width: calc(100% - 2rem);
    border-radius: 0.8rem;
    background-color: greenyellow;
    // margin-bottom: 1rem;
    margin: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &-list {
    background-color: var(--list-color-bg);
    list-style: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;

    img {
      width: 5rem;
      height: 5rem;
    }

    &--error {
      text-align: center;
    }

    &__item {
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
    }
  }
}