.catalog {
  position: fixed;
  top: 0;
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem;

  &-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
  }

  &__back-button {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__title {
    flex-grow: 1;
  }

  &__mixer-image {
    width: 2rem;
    height: 2rem;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  > .catalog__search {
    border: 1px solid black;
    margin: 0 0 1rem;
  }

  &__brand-suggest-btn {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.8rem;
    background-color: greenyellow;
    margin-bottom: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &-list {
    list-style: none;

    img {
      width: 5rem;
      height: 5rem;
    }

    &--error {
      text-align: center;
    }

    &__item {
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
    }
  }
}