.flavor-suggest {
  position: fixed;
  top: 0;
  background-color: var(--color-bg);
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.flavor-suggest-header {
  display: flex;
  gap: 1rem;
  background-color: var(--gray);
  padding: 0.5rem;

  &__back-button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.flavor-suggest-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;
}

.brand-container {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 0.5px solid var(--color-accent);
  padding: 0.5rem 0;
}

.brand-name-container {
  cursor: pointer;
}

.brand-name {
  &__label {
    display: block;

    &::after {
      content: '*';
      color: red;
    }
  }

  &__input {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid yellowgreen;
    color: white;
    font-size: 1.4rem;

    &::placeholder {
      font-size: 1rem;
    }
  }

  &__place {
    flex-grow: 1;
  }

  &__img {
    width: 2rem;
    height: 2rem;
  }
}

.brand-selector {
  position: fixed;
  background-color: var(--color-bg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow-y: auto;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--gray);
  }

  &__close-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &-fieldset {
    padding: 1rem;
  }

  &__label::first-letter {
    text-transform: uppercase;
  }

  &__input {
    width: 1.5rem;
    height: 1.5rem;
    outline: none;
    cursor: pointer
  }
}

.name {
  &__label::after {
      content: '*';
      color: red;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid yellowgreen;
    color: white;
    font-size: 1.4rem;
    
    &::placeholder {
      font-size: 1rem;
    }
  }
}

.description__input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid yellowgreen;
  color: white;
  font-size: 1.4rem;
  height: 3rem;
  resize: vertical;
  
  &::placeholder {
    font-size: 1rem;
  }
}

.strength-fieldset {
  display: block;
  margin-bottom: 1rem;

  &__legend {
    margin-bottom: 1rem;

    &::after {
      content: '*';
      color: red;
    }
  }

  &__strength-container {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 0.5rem;
  }
}

.tags {
  margin-bottom: 1rem;

  &__label {
    display: block;
    margin-bottom: 1rem;

    &::after {
      content: '*';
      color: red;
    }
  }

  &__button {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-accent);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__tips {
    color: var(--gray);
    font-size: 0.8rem;
  }
}

.selected-tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.selected-tag {
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border-radius: 1rem;
  border: 1px solid white;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.9rem;

  > img {
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.tags-popup {
  position: fixed;
  background-color: var(--color-bg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow-y: auto;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--gray);
  }

  &__close-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &-fieldset {
    padding: 1rem;
  }

  &__label::first-letter {
    text-transform: uppercase;
  }

  &__input {
    width: 1.5rem;
    height: 1.5rem;
    outline: none;
    cursor: pointer
  }
}

.tag-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 0.5px solid var(--color-accent);
  padding: 0.5rem 0;
}

.tags-tips-container {
  display: flex;
  justify-content: space-between;
}

.tags__counter--exceed {
  color: red;
}

.image-container {
  border: 1px solid white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-color: var(--color-accent--lighter);
  min-height: 10rem;

  &:hover {
    opacity: 0.8;
  }
}

.flavor-suggest__button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  background-color: yellowgreen;

  &:hover {
    opacity: 0.8;
  }
}