.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    min-height: 60px;
    padding: 14px;
    gap: 10px;
    text-align: center;

    a {
      text-decoration: none;
      cursor: pointer;
      color: var(--color-font);
    }
  }

  &__github {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__mixer-image {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    background-size: cover;
  }
}
