.header {
  &__container {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header__logo{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav {
      flex-grow: 3;
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          list-style: none;
  
        a {
          font-size: 20px;
          text-decoration: none;
          color: var(--color-font);
          text-transform: uppercase;
          cursor: pointer;
        }
        a:hover {
          text-decoration: solid;
          text-decoration-line: underline;
          text-decoration-color: var(--color-font);
          text-decoration-thickness: 3px;
          text-underline-offset: 12px;
        }
        .active {
          color: #92aff9;
        }
      }
    }
  }

}

.header__mixer {
  position: relative;
}

.header__mixer-number {
  position: absolute;
  left: -1rem;
  bottom: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  color: black;
  background-color: greenyellow;
  border: 1px solid green;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}