.top-block {
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media (width <= 900px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
  }

  @media (width < 426px) {
    margin: 1rem 1.5rem;
  }
}

.mix-week-card {
  padding: 1rem;
  border-radius: 0.6rem;
  background: rgb(9,121,39);
  background: linear-gradient(335deg, rgba(9,121,39,1) 0%, rgba(0,212,255,1) 100%);

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 2rem;

    @media (width < 426px) {
      hyphens: auto;
    }
  }

  &__text {
    font-weight: bold;
  }
}

.user-mixes-card {
  padding: 1rem;
  border-radius: 0.6rem;
  background: rgb(237,184,255);
  background: linear-gradient(148deg, rgba(237,184,255,1) 0%, rgba(0,212,255,1) 100%);

  &:hover {
    cursor: pointer;
    background: rgba(237,184,255,0.8);
    background: linear-gradient(148deg, rgba(237,184,255,0.8) 0%, rgba(0,212,255,0.8) 100%);
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__button {
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0.8rem;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.flavor-preferences-card {
  padding: 1rem;
  border-radius: 0.6rem;
  background: rgb(66,37,251);
  background: linear-gradient(274deg, rgba(66,37,251,1) 0%, rgba(16,210,103,1) 50%, rgba(74,217,245,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: 3rem;
    height: 3rem;

    @media (width < 769px) {
      width: 2rem;
      height: 2rem;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  @media (width <= 900px) {
    grid-column: span 2;
  }
}