.popular-list {
  margin: 1rem 3rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.4rem;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__item {
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(23, 15, 48, 0.5294117647);
  }

  .item-img {
    height: 8rem;
    width: 14rem;
    border-radius: 10px;
    align-self: center;
  }
  .item-name{
    align-self: center;
  }
  .item-rating{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .item-star{
    width: 22px;
    height: 22px;
  }
}