.mixes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // flex-grow: 0;
  // grid-row: ;

  @media (width <= 900px) {
    grid-template-columns: 1fr;
  }

}

.mixes-list__card {
  display: flex;
  align-items: center;
  padding: 20px 20px 0;
  background-color: #170f3087;
  box-shadow: 0 5px 40px 0 rgb(0 0 0 / 40%), inset 0 -76px 80px -44px rgb(255 255 255 / 1%), inset -1px -9px 48px 0 rgb(255 255 255 / 6%);
  // max-height: 10rem;

  .mixes-list__card-img {
    width: 6rem;
    height: 6rem;
    border-radius: 25px;
  }

  .mixes-list__card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
  }

  .mixes-list__title {
    padding: 20px;
  }

  .mixes-list__card-footer {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    justify-content: space-between;
    width: 100%;

    .mixes-list__button {
      width: 150px;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 1rem;
      background-image: linear-gradient(65deg, #edb8ff, #6148ff);
      box-shadow: 0 24px 34px 0 rgb(74 58 255 / 5%), 0 9px 24px 0 rgb(0 0 0 / 45%);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.mixes-list__rating-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}