.preferences {
  background-color: rgb(0, 0, 30);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  // align-items: center;
  &__header {
    display: flex;
    align-items: center;
    background: linear-gradient(148deg, rgba(237,184,255,1) 0%, rgba(0,212,255,1) 100%);
    width: 100%;
  }
  &__back-image {
    width: 2rem;
    height: 2rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &__title {
    position: relative;
    margin: 0 auto;
  }

  &__flavor-title,
  &__strength-title,
  &__brands-title {
    margin-bottom: 1rem;
  }

  &-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
  }

  &__button {
    min-width: 6rem;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    border: 1px solid white;
    background-color: rgb(44, 43, 43);

    &--active {
      background: linear-gradient(148deg, rgba(237,184,255,1) 0%, rgba(0,212,255,1) 100%);
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__continue-btn {
    padding: 0.6rem;
    border-radius: 0.6rem;
    margin: 2rem auto 0;
    display: block;
    background-color: rgb(104, 233, 29);

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.preferences-error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 320px;
  height: 160px;
  border: 1px solid var(--color-accent);
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  top: calc(50% - 80px);
  left: calc(50% - 160px);

  a {
    color: red;
    text-decoration: none;
    color: var(--color-accent);
  }
}

.flavors-container,
.strength-container,
.brands-container {
  padding: 1rem;
}

.preferences-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.preferences-popup {
  text-align: center;
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 10rem);
  height: 8rem;
  width: 20rem;
  border: 1px solid yellowgreen;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--color-bg);

  &__title,
  &__text {
    margin-bottom: 1rem;
    color: white;
  }

  &__button {
    padding: 1rem;
    border-radius: 0.6rem;
    margin: 0 auto;
    display: block;
    background-color: yellowgreen;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}